<div class="table-container">
    <table class="styled-table">
      <thead>
        <tr>
          <th>supplier name</th>
          <th>Address</th>
          <th>Phone</th>
          <th>Email</th>
          <th>Neighborhood</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let supplier of supplirs">
          <th scope="row">{{supplier.name}}</th>
          <td>{{supplier.direction}}</td>
          <td>{{supplier.phone}}</td>
          <td>{{supplier.mail || 'No email added'}}</td>
          <td>{{supplier.id_neighborhood.name}}</td>
          <td>
            <a href="#" class="edit">Edit</a>
            <a href="#" class="delete">Delete</a>
          </td>
        </tr>             
      </tbody>
    </table>
  </div>
  <router-outlet></router-outlet>