<div class="table-container">
    <table class="styled-table">
      <thead>
        <tr>
          <th>Neighborhood name</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Apple MacBook Pro 17"</th>          
          <td>
            <a href="#" class="edit">Edit</a>
            <a href="#" class="delete">Delete</a>
          </td>
        </tr>
        <tr>
          <th scope="row">Microsoft Surface Pro</th>          
          <td>
            <a href="#" class="edit">Edit</a>
            <a href="#" class="delete">Delete</a>
          </td>
        </tr>
        <tr>
          <th scope="row">Magic Mouse 2</th>          
          <td>
            <a href="#" class="edit">Edit</a>
            <a href="#" class="delete">Delete</a>
          </td>
        </tr>
        <tr>
          <th scope="row">Google Pixel Phone</th>          
          <td>
            <a href="#" class="edit">Edit</a>
            <a href="#" class="delete">Delete</a>
          </td>
        </tr>
        <tr>
          <th scope="row">Apple Watch 5</th>          
          <td>
            <a href="#" class="edit">Edit</a>
            <a href="#" class="delete">Delete</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  