<div class="table-container">
    <table class="styled-table">
      <thead>
        <tr>
          <th>Neighborhood name</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let neighborhood of neighborhoods">
          <th scope="row">{{neighborhood.name}}</th>          
          <td>
            <a [routerLink]="['update', neighborhood.id]" class="edit">Edit</a>
            <a (click)="deleteNeighborhood(neighborhood.id)" class="delete">Delete</a>
          </td>
        </tr>        
      </tbody>
    </table>
  </div>
  <router-outlet></router-outlet>