<div class="table-container">
  <table class="styled-table">
    <thead>
      <tr>
        <th>Product name</th>
        <th>Brand</th>
        <th>Category</th>
        <th>Price</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <th scope="row">{{ product.description }}</th>
        <td>{{ product.id_brand.name }}</td>
        <td>{{ product.id_category.name }}</td>
        <td>{{ product.price }}</td>
        <td>
          <a href="#" class="edit">Edit</a>
          <a href="#" class="delete">Delete</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<router-outlet></router-outlet>