<div class="table-container">
    <table class="styled-table">
      <thead>
        <tr>
          <th>Brand name</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let brand of brands">
          <th scope="row">{{brand.name}}</th>
          <td>
            <a [routerLink]="['update', brand.id]" class="edit">Edit</a>
            <a href="#" class="delete">Delete</a>
          </td>
        </tr>
        
      </tbody>
    </table>
  </div>
  <router-outlet></router-outlet>