.app-container {
    display: flex;    
    min-height: 100vh;
}

.main-content {
    flex: 1;
    display: flex;
    padding: 2rem;
    background-color: #f9fafb;
    flex-direction: column-reverse;
    justify-content: space-between;
}

.component_add{
    align-items: center;
    display: flex;
    justify-content: right;
    padding-bottom: 2rem;
    padding-right: 2rem;
}